<a href="https://colab.research.google.com/github/rifyalt/vial/blob/master/2_Step_tiket_Multiple_URL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount to Drive

In [ ]:
from google.colab import drive
from google.colab import files

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Install PIP

In [ ]:
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

cp: cannot stat '/usr/lib/chromium-browser/chromedriver': No such file or directory

In [ ]:
!pip install lxml
!pip install bs4
!pip install selenium

!pip install webdriver_manager
!apt-get update
!apt install chromium-chromedriver

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.9.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting selenium
  Downloading selenium-4.4.3-py3-none-any.whl (985 kB)
     |████████████████████████████████| 985 kB 5.2 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting urllib3[socks]~=1.26
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 48.7 MB/s
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
     |████████████████████████████████| 358 kB 62.7 MB/s
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.7/dist-packages (from selenium) (2022.6.15)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (22.1.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 5.8 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.1.1)
Installing collected packages: sniffio, outcome, h11, async-generator, wsproto, urllib3, trio, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.12 which is incompatible.
Successfully installed async-generator-1.10 h11-0.13.0 outcome-1.2.0 selenium-4.4.3 sniffio-1.3.0 trio-0.21.0 trio-websocket-0.9.2 urllib3-1.26.12 wsproto-1.2.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting webdriver_manager
  Downloading webdriver_manager-3.8.3-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from webdriver_manager) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from webdriver_manager) (4.64.1)
Collecting python-dotenv
  Downloading python_dotenv-0.21.0-py3-none-any.whl (18 kB)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver_manager) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver_manager) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver_manager) (3.0.4)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 7.1 MB/s
Installing collected packages: urllib3, python-dotenv, webdriver-manager
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.26.12
    Uninstalling urllib3-1.26.12:
      Successfully uninstalled urllib3-1.26.12
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
selenium 4.4.3 requires urllib3[socks]~=1.26, but you have urllib3 1.25.11 which is incompatible.
Successfully installed python-dotenv-0.21.0 urllib3-1.25.11 webdriver-manager-3.8.3
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [92.1 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,108 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,397 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,318 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,965 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,080 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Fetched 13.8 MB in 4s (3,814 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 33 not upgraded.
Need to get 91.7 MB of archives.
After this operation, 309 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 105.0.5195.102-0ubuntu0.18.04.1 [1,156 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 105.0.5195.102-0ubuntu0.18.04.1 [80.1 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 105.0.5195.102-0ubuntu0.18.04.1 [5,097 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 105.0.5195.102-0ubuntu0.18.04.1 [5,320 kB]
Fetched 91.7 MB in 2s (45.5 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155569 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_105.0.5195.102-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (105.0.5195.102-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_105.0.5195.102-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (105.0.5195.102-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_105.0.5195.102-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (105.0.5195.102-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_105.0.5195.102-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (105.0.5195.102-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (105.0.5195.102-0ubuntu0.18.04.1) ...
Setting up chromium-browser (105.0.5195.102-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (105.0.5195.102-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (105.0.5195.102-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...

# Import Library

In [ ]:
import csv
import pandas as pd
import bs4 as soup

from bs4 import BeautifulSoup
from selenium import webdriver

# Install Driver

In [ ]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: use options instead of chrome_options
  """

## URL List

In [ ]:
# -> jika ingin menggunakan periode check in dan check out copas url hingga "?stayYear=2022&stayMonth=9&stayDay=16&"

# 'banda_aceh/reddoorz_syariah_near_simpang_surabaya_aceh_945301/?stayYear=2022&stayMonth=9&stayDay=16&'

# Ganti = ?stayYear=2022&stayMonth=9&stayDay=16& periode yang diinginkan

my_url = ["sunset-point-seminyak-redpartner-503001648458928222?room=1&adult=1&checkin=2022-09-29&checkout=2022-09-30",
          "reddoorz-near-upi-setiabudi-2-208001565255789280?room=1&adult=1&checkin=2022-09-29&checkout=2022-09-30",
          "reddoorz-syariah-near-gelora-delta-sidoarjo-2-206001560509907794?room=1&adult=1&checkin=2022-09-29&checkout=2022-09-30"
          
]

## Base URL

In [ ]:
url = "https://www.tiket.com/hotel/" # disesuaikan dengan url
driver.get(url)

## Get URL

In [ ]:
def get_url(search_term):
    """Generate a url from a search term"""
    template = "https://www.tiket.com/hotel/indonesia/{}" # disesuaikan dengan url
    search_term = search_term.replace(" ", "+")
    return template.format(search_term)

## URL 1 - 25

In [ ]:
url_0 = get_url( my_url [0] )
url_1 = get_url( my_url [1] )
url_2 = get_url( my_url [2] )

In [ ]:
url_0 = get_url(my_url [0])
print(url_0) # test print url

https://www.tiket.com/hotel/indonesia/sunset-point-seminyak-redpartner-503001648458928222?room=1&adult=1&checkin=2022-09-29&checkout=2022-09-30

In [ ]:
url_2 = get_url(my_url [2])
print(url_2) # test print url

https://www.tiket.com/hotel/indonesia/reddoorz-syariah-near-gelora-delta-sidoarjo-2-206001560509907794?room=1&adult=1&checkin=2022-09-29&checkout=2022-09-30

# Get HTML

## Test HTML

In [ ]:
#driver.get(url_0)
#soup_0 = BeautifulSoup(driver.page_source, "lxml")
#list_type_0 = soup_0.find_all("div", class_ = "card room-card") #hotel-detail room-item-list card room-card
#card_0 = list_type_0[0]

In [ ]:
#name_0 = soup_0.find('h1', class_ = 'property-name tix-font h4 line-clamp-2')#.text.replace("\n", "")
#print(name_0)

In [ ]:
#alamat_0 = soup_0.find("div", class_ = "line-clamp-2").text.replace("\n", "")
#print(alamat_0)

In [ ]:
#room_type_0 = card_0.find("h3", class_ = "room-name").text.replace("\n", "")
#print(room_type_0)

In [ ]:
#details_0 = card_0.find("div", class_ = ["room-information"]).text.replace("\n", "") 
#print(details_0)

In [ ]:
#gimmick_0 = soup_0.find("div", class_ = ["room-promotion"]).text.replace("\n", "")
#print(gimmick_0)

In [ ]:
#lowest_0 = soup_0.find("div", class_ = ["price-info__price"]).text.replace("\n", "") 
#print(lowest_0)

In [ ]:
#harga_coret_0 = card_0.find("div", class_ = "price-before").text.replace("\n", "")
#print(harga_coret_0)

In [ ]:
#harga_jual_0 = card_0.find("div", class_ = "room-price").text.replace("\n", "")
#print(harga_jual_0)

# Get Data

///// URL 1 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

In [ ]:
driver.get(url_0)
soup_0 = BeautifulSoup(driver.page_source, "lxml")
list_type_0 = soup_0.find_all("div", class_ = "room-card-list")
card_0 = list_type_0[0]

#-------------------------------------------------------------------------------

def get_room_listings(card_0):
    """Extract hotel listings information from the raw html"""
    
    list_type_0 = soup_0.find_all("div", class_ = "room-item")

    name_0 = soup_0.find('h1', class_ = 'property-name tix-font h4 line-clamp-2').text.replace("\n", "")

#    alamat_0 = soup_0.find("div", class_ = "line-clamp-2").text.replace("\n", "")

    try:
        room_type_0 = card_0.find("h3", class_ = "room-name").text.replace("\n", "")
    except AttributeError:
        return
        room_type_0 = ""

#    try:
#        details_0 = card_0.find("div", class_ = ["room-information"]).text.replace("\n", "")
#    except AttributeError:
#        return
#        details_0 = ""

#    try:
#        gimmick_0 = soup_0.find("div", class_ = ["room-promotion"]).text.replace("\n", "")
#    except AttributeError:
#        return
#        gimmick_0 = ""

    try:
        lowest_0 = soup_0.find("div", class_ = ["price-info__price"]).text.replace("\n", "") 
    except AttributeError:
        return
        lowest_0 = ""

#    try:
#        harga_coret_0 = card_0.find("div", class_ = "price-before").text.replace("\n", "") 
#    except AttributeError:
#        return
#        harga_coret_0 = ""

    try:
        harga_jual_0 = card_0.find("div", class_ = "room-price").text.replace("\n", "") 
    except AttributeError:
        return
        harga_jual_0 = ""       


    hotel_listings_0 = (name_0, room_type_0, lowest_0, harga_jual_0)
    return hotel_listings_0

In [ ]:
list_type_0 = soup_0.find_all("div", class_ = "room-item")

In [ ]:
hotels = []

In [ ]:
for card_0 in list_type_0:
    room_lists_0 = get_room_listings(card_0) #checks to see if what we return from the function is empty or not
    if room_lists_0:
        hotels.append(room_lists_0) #if the hotel_lists has something in it, then we would append that to the hotels list.

In [ ]:
hotels[0:100]

[('Sunset Point Seminyak RedPartner',
  'Kamar Superior Queen/Single',
  'IDR 324.768',
  'IDR 324.768Detail HargaTermasuk: Sarapan (1 pax)HargaMalam 1 x 1 kamarIDR 268.403Pajak dan biaya lainnyaPajak dan biaya lainnyaIDR 56.365TotalIDR 324.768Dapatkan 2.436 tiket Points'),
 ('Sunset Point Seminyak RedPartner',
  'Kamar Standard Double',
  'IDR 324.768',
  'IDR 880.800Detail HargaHargaMalam 1 x 1 kamarIDR 880.800TotalIDR 880.800Dapatkan 15.414 tiket Points'),
 ('Sunset Point Seminyak RedPartner',
  'Kamar Ekonomi Twin',
  'IDR 324.768',
  'IDR 880.800Detail HargaHargaMalam 1 x 1 kamarIDR 880.800TotalIDR 880.800Dapatkan 15.414 tiket Points')]

In [ ]:
# view with dataframe

url = pd.DataFrame (hotels, columns= ['Property', 'Room Type','Lowest', 'Publish'])
url # test print

,Property,Room Type,Lowest,Publish
0,Sunset Point Seminyak RedPartner,Kamar Superior Queen/Single,IDR 324.768,IDR 324.768Detail HargaTermasuk: Sarapan (1 pa...
1,Sunset Point Seminyak RedPartner,Kamar Standard Double,IDR 324.768,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...
2,Sunset Point Seminyak RedPartner,Kamar Ekonomi Twin,IDR 324.768,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...



---



---

///// URL 2 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

In [ ]:
driver.get(url_1)
soup_1 = BeautifulSoup(driver.page_source, "lxml")
list_type_1 = soup_1.find_all("div", class_ = "room-card-list")
card_1 = list_type_1[0]

#-------------------------------------------------------------------------------

def get_room_listings(card_1):
    """Extract hotel listings information from the raw html"""
    
    list_type_1 = soup_1.find_all("div", class_ = "room-item")

    name_1 = soup_1.find('h1', class_ = 'property-name tix-font h4 line-clamp-2').text.replace("\n", "")

#    alamat_1 = soup_1.find("div", class_ = "line-clamp-2").text.replace("\n", "")

    try:
        room_type_1 = card_1.find("h3", class_ = "room-name").text.replace("\n", "")
    except AttributeError:
        return
        room_type_1 = ""

#    try:
#        details_1 = card_1.find("div", class_ = ["room-information"]).text.replace("\n", "")
#    except AttributeError:
#        return
#        details_1 = ""

#    try:
#        gimmick_1 = soup_1.find("div", class_ = ["room-promotion"]).text.replace("\n", "")
#    except AttributeError:
#        return
#        gimmick_1 = ""

    try:
        lowest_1 = soup_1.find("div", class_ = ["price-info__price"]).text.replace("\n", "") 
    except AttributeError:
        return
        lowest_1 = ""

#    try:
#        harga_coret_1 = card_1.find("div", class_ = "price-before").text.replace("\n", "") 
#    except AttributeError:
#        return
#        harga_coret_1 = ""

    try:
        harga_jual_1 = card_1.find("div", class_ = "room-price").text.replace("\n", "") 
    except AttributeError:
        return
        harga_jual_1 = ""       


    hotel_listings_1 = (name_1, room_type_1, lowest_1, harga_jual_1)
    return hotel_listings_1

In [ ]:
list_type_1 = soup_1.find_all("div", class_ = "room-item")

In [ ]:
hotels1 = []

In [ ]:
for card_1 in list_type_1:
    room_lists_1 = get_room_listings(card_1) #checks to see if what we return from the function is empty or not
    if room_lists_1:
        hotels.append(room_lists_1) #if the hotel_lists has something in it, then we would append that to the hotels list.

In [ ]:
hotels[0:100]

[('Sunset Point Seminyak RedPartner',
  'Kamar Superior Queen/Single',
  'IDR 324.768',
  'IDR 324.768Detail HargaTermasuk: Sarapan (1 pax)HargaMalam 1 x 1 kamarIDR 268.403Pajak dan biaya lainnyaPajak dan biaya lainnyaIDR 56.365TotalIDR 324.768Dapatkan 2.436 tiket Points'),
 ('Sunset Point Seminyak RedPartner',
  'Kamar Standard Double',
  'IDR 324.768',
  'IDR 880.800Detail HargaHargaMalam 1 x 1 kamarIDR 880.800TotalIDR 880.800Dapatkan 15.414 tiket Points'),
 ('Sunset Point Seminyak RedPartner',
  'Kamar Ekonomi Twin',
  'IDR 324.768',
  'IDR 880.800Detail HargaHargaMalam 1 x 1 kamarIDR 880.800TotalIDR 880.800Dapatkan 15.414 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Double',
  'IDR 196.924',
  'IDR 196.924Detail HargaHargaMalam 1 x 1 kamarIDR 196.924TotalIDR 196.924Dapatkan 3.446 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Standard Double',
  'IDR 196.924',
  'IDR 203.014Detail HargaHargaMalam 1 x 1 kamarIDR 203.014TotalIDR 203.014Dapatkan 1.523 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Double',
  'IDR 196.924',
  'IDR 207.612Detail HargaHargaMalam 1 x 1 kamarIDR 207.612TotalIDR 207.612Dapatkan 3.633 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Deluks Queen',
  'IDR 196.924',
  'IDR 214.031Detail HargaHargaMalam 1 x 1 kamarIDR 214.032TotalIDR 214.032Dapatkan 1.605 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Suite Double',
  'IDR 196.924',
  'IDR 228.984Detail HargaHargaMalam 1 x 1 kamarIDR 228.984TotalIDR 228.984Dapatkan 4.007 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Keluarga Standar Double',
  'IDR 196.924',
  'IDR 236.064Detail HargaHargaMalam 1 x 1 kamarIDR 236.065TotalIDR 236.065Dapatkan 1.770 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Standard Double',
  'IDR 196.924',
  'IDR 284.457Detail HargaHargaMalam 1 x 1 kamarIDR 284.457TotalIDR 284.457Dapatkan 2.133 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Suite',
  'IDR 196.924',
  'IDR 330.780Detail HargaHargaMalam 1 x 1 kamarIDR 330.780TotalIDR 330.780Dapatkan 2.481 tiket Points')]

In [ ]:
# view with dataframe

#url = pd.DataFrame (hotels, columns= ['Property', 'Room Type', 'Lowest', 'Publish'])
#url # test print



---



---

///// URL 3 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

In [ ]:
driver.get(url_2)
soup_2 = BeautifulSoup(driver.page_source, "lxml")
list_type_2 = soup_2.find_all("div", class_ = "room-card-list")
card_2 = list_type_2[0]

#-------------------------------------------------------------------------------

def get_room_listings(card_2):
    """Extract hotel listings information from the raw html"""
    
    list_type_2 = soup_2.find_all("div", class_ = "room-item")

    name_2 = soup_2.find('h1', class_ = 'property-name tix-font h4 line-clamp-2').text.replace("\n", "")

#    alamat_2 = soup_2.find("div", class_ = "line-clamp-2").text.replace("\n", "")

    try:
        room_type_2 = card_2.find("h3", class_ = "room-name").text.replace("\n", "")
    except AttributeError:
        return
        room_type_2 = ""

#    try:
#        details_2 = card_2.find("div", class_ = ["room-information"]).text.replace("\n", "")
#    except AttributeError:
#        return
#        details_2 = ""

#    try:
#        gimmick_2 = soup_2.find("div", class_ = ["room-promotion"]).text.replace("\n", "")
#    except AttributeError:
#        return
#        gimmick_2 = ""

    try:
        lowest_2 = soup_2.find("div", class_ = ["price-info__price"]).text.replace("\n", "") 
    except AttributeError:
        return
        lowest_2 = ""

#    try:
#        harga_coret_2 = card_2.find("div", class_ = "price-before").text.replace("\n", "") 
#    except AttributeError:
#        return
#        harga_coret_2 = ""

    try:
        harga_jual_2 = card_2.find("div", class_ = "room-price").text.replace("\n", "") 
    except AttributeError:
        return
        harga_jual_2 = ""       


    hotel_listings_2 = (name_2, room_type_2, lowest_2, harga_jual_2)
    return hotel_listings_2

In [ ]:
list_type_2 = soup_2.find_all("div", class_ = "room-item")

In [ ]:
hotels2 = []

In [ ]:
for card_2 in list_type_2:
    room_lists_2 = get_room_listings(card_2) #checks to see if what we return from the function is empty or not
    if room_lists_2:
        hotels.append(room_lists_2) #if the hotel_lists has something in it, then we would append that to the hotels list.

In [ ]:
hotels[0:100]

[('Sunset Point Seminyak RedPartner',
  'Kamar Superior Queen/Single',
  'IDR 324.768',
  'IDR 324.768Detail HargaTermasuk: Sarapan (1 pax)HargaMalam 1 x 1 kamarIDR 268.403Pajak dan biaya lainnyaPajak dan biaya lainnyaIDR 56.365TotalIDR 324.768Dapatkan 2.436 tiket Points'),
 ('Sunset Point Seminyak RedPartner',
  'Kamar Standard Double',
  'IDR 324.768',
  'IDR 880.800Detail HargaHargaMalam 1 x 1 kamarIDR 880.800TotalIDR 880.800Dapatkan 15.414 tiket Points'),
 ('Sunset Point Seminyak RedPartner',
  'Kamar Ekonomi Twin',
  'IDR 324.768',
  'IDR 880.800Detail HargaHargaMalam 1 x 1 kamarIDR 880.800TotalIDR 880.800Dapatkan 15.414 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Double',
  'IDR 196.924',
  'IDR 196.924Detail HargaHargaMalam 1 x 1 kamarIDR 196.924TotalIDR 196.924Dapatkan 3.446 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Standard Double',
  'IDR 196.924',
  'IDR 203.014Detail HargaHargaMalam 1 x 1 kamarIDR 203.014TotalIDR 203.014Dapatkan 1.523 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Double',
  'IDR 196.924',
  'IDR 207.612Detail HargaHargaMalam 1 x 1 kamarIDR 207.612TotalIDR 207.612Dapatkan 3.633 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Deluks Queen',
  'IDR 196.924',
  'IDR 214.031Detail HargaHargaMalam 1 x 1 kamarIDR 214.032TotalIDR 214.032Dapatkan 1.605 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Suite Double',
  'IDR 196.924',
  'IDR 228.984Detail HargaHargaMalam 1 x 1 kamarIDR 228.984TotalIDR 228.984Dapatkan 4.007 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Keluarga Standar Double',
  'IDR 196.924',
  'IDR 236.064Detail HargaHargaMalam 1 x 1 kamarIDR 236.065TotalIDR 236.065Dapatkan 1.770 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Kamar Standard Double',
  'IDR 196.924',
  'IDR 284.457Detail HargaHargaMalam 1 x 1 kamarIDR 284.457TotalIDR 284.457Dapatkan 2.133 tiket Points'),
 ('RedDoorz near UPI Setiabudi 2',
  'Suite',
  'IDR 196.924',
  'IDR 330.780Detail HargaHargaMalam 1 x 1 kamarIDR 330.780TotalIDR 330.780Dapatkan 2.481 tiket Points'),
 ('RedDoorz Syariah near Gelora Delta Sidoarjo 2',
  'Kamar Double',
  'IDR 170.100',
  'IDR 170.100Detail HargaHargaMalam 1 x 1 kamarIDR 170.100TotalIDR 170.100Dapatkan 2.977 tiket Points')]

In [ ]:
# view with dataframe

#url = pd.DataFrame (hotels, columns= ['Property', 'Address,'Room Type','Lowest', 'Publish'])
#url # test print

# Import to DataFrame

In [ ]:
# view with dataframe

url = pd.DataFrame (hotels, columns= ['Property', 'Room Type', 'Lowest', 'Publish'])
url # test print

,Property,Room Type,Lowest,Publish
0,Sunset Point Seminyak RedPartner,Kamar Superior Queen/Single,IDR 324.768,IDR 324.768Detail HargaTermasuk: Sarapan (1 pa...
1,Sunset Point Seminyak RedPartner,Kamar Standard Double,IDR 324.768,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...
2,Sunset Point Seminyak RedPartner,Kamar Ekonomi Twin,IDR 324.768,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...
3,RedDoorz near UPI Setiabudi 2,Kamar Double,IDR 196.924,IDR 196.924Detail HargaHargaMalam 1 x 1 kamarI...
4,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,IDR 196.924,IDR 203.014Detail HargaHargaMalam 1 x 1 kamarI...
5,RedDoorz near UPI Setiabudi 2,Kamar Double,IDR 196.924,IDR 207.612Detail HargaHargaMalam 1 x 1 kamarI...
6,RedDoorz near UPI Setiabudi 2,Kamar Deluks Queen,IDR 196.924,IDR 214.031Detail HargaHargaMalam 1 x 1 kamarI...
7,RedDoorz near UPI Setiabudi 2,Suite Double,IDR 196.924,IDR 228.984Detail HargaHargaMalam 1 x 1 kamarI...
8,RedDoorz near UPI Setiabudi 2,Kamar Keluarga Standar Double,IDR 196.924,IDR 236.064Detail HargaHargaMalam 1 x 1 kamarI...
9,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,IDR 196.924,IDR 284.457Detail HargaHargaMalam 1 x 1 kamarI...
10,RedDoorz near UPI Setiabudi 2,Suite,IDR 196.924,IDR 330.780Detail HargaHargaMalam 1 x 1 kamarI...
11,RedDoorz Syariah near Gelora Delta Sidoarjo 2,Kamar Double,IDR 170.100,IDR 170.100Detail HargaHargaMalam 1 x 1 kamarI...

# Save to Google Drive

In [ ]:
url.to_csv('/content/drive/MyDrive/Colab Notebooks/Web Scraping/Fix/2_tiket_reddoorz.csv', index=True)

# Join Table

In [ ]:
path1 = '/content/drive/MyDrive/Colab Notebooks/Web Scraping/Fix/1_tiket_reddoorz.csv'
path2 = '/content/drive/MyDrive/Colab Notebooks/Web Scraping/Fix/2_tiket_reddoorz.csv'

In [ ]:
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)

In [ ]:
df = pd.merge(df1, df2, how='outer', on=['Property','Publish','Room Type'])
df

,Unnamed: 0_x,Property,Room Type,Gimmick,Harga Coret,Publish,Unnamed: 0_y,Lowest
0,0.0,Sunset Point Seminyak RedPartner,Kamar Superior Queen/Single,Penawaran Waktu Terbatas. Harga termasuk disko...,IDR 591.104,IDR 324.768Detail HargaTermasuk: Sarapan (1 pa...,0,IDR 324.768
1,1.0,RedDoorz near UPI Setiabudi 2,Kamar Double,Hemat 10%,IDR 218.804,IDR 196.924Detail HargaHargaMalam 1 x 1 kamarI...,3,IDR 196.924
2,2.0,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,Hemat 10%,IDR 369.116,IDR 203.014Detail HargaHargaMalam 1 x 1 kamarI...,4,IDR 196.924
3,3.0,RedDoorz near UPI Setiabudi 2,Kamar Double,Hemat 10%,IDR 230.680,IDR 207.612Detail HargaHargaMalam 1 x 1 kamarI...,5,IDR 196.924
4,4.0,RedDoorz near UPI Setiabudi 2,Suite Double,Hemat 10%,IDR 254.427,IDR 228.984Detail HargaHargaMalam 1 x 1 kamarI...,7,IDR 196.924
5,5.0,RedDoorz near UPI Setiabudi 2,Kamar Keluarga Standar Double,Hemat 10%,IDR 429.209,IDR 236.064Detail HargaHargaMalam 1 x 1 kamarI...,8,IDR 196.924
6,6.0,RedDoorz Syariah near Gelora Delta Sidoarjo 2,Kamar Double,Hemat 10%,IDR 189.000,IDR 170.100Detail HargaHargaMalam 1 x 1 kamarI...,11,IDR 170.100
7,NaN,Sunset Point Seminyak RedPartner,Kamar Standard Double,NaN,NaN,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...,1,IDR 324.768
8,NaN,Sunset Point Seminyak RedPartner,Kamar Ekonomi Twin,NaN,NaN,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...,2,IDR 324.768
9,NaN,RedDoorz near UPI Setiabudi 2,Kamar Deluks Queen,NaN,NaN,IDR 214.031Detail HargaHargaMalam 1 x 1 kamarI...,6,IDR 196.924
10,NaN,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,NaN,NaN,IDR 284.457Detail HargaHargaMalam 1 x 1 kamarI...,9,IDR 196.924
11,NaN,RedDoorz near UPI Setiabudi 2,Suite,NaN,NaN,IDR 330.780Detail HargaHargaMalam 1 x 1 kamarI...,10,IDR 196.924

In [ ]:
df.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], inplace=True, axis=1)

In [ ]:
df

,Property,Room Type,Gimmick,Harga Coret,Publish,Lowest
0,Sunset Point Seminyak RedPartner,Kamar Superior Queen/Single,Penawaran Waktu Terbatas. Harga termasuk disko...,IDR 591.104,IDR 324.768Detail HargaTermasuk: Sarapan (1 pa...,IDR 324.768
1,RedDoorz near UPI Setiabudi 2,Kamar Double,Hemat 10%,IDR 218.804,IDR 196.924Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
2,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,Hemat 10%,IDR 369.116,IDR 203.014Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
3,RedDoorz near UPI Setiabudi 2,Kamar Double,Hemat 10%,IDR 230.680,IDR 207.612Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
4,RedDoorz near UPI Setiabudi 2,Suite Double,Hemat 10%,IDR 254.427,IDR 228.984Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
5,RedDoorz near UPI Setiabudi 2,Kamar Keluarga Standar Double,Hemat 10%,IDR 429.209,IDR 236.064Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
6,RedDoorz Syariah near Gelora Delta Sidoarjo 2,Kamar Double,Hemat 10%,IDR 189.000,IDR 170.100Detail HargaHargaMalam 1 x 1 kamarI...,IDR 170.100
7,Sunset Point Seminyak RedPartner,Kamar Standard Double,NaN,NaN,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...,IDR 324.768
8,Sunset Point Seminyak RedPartner,Kamar Ekonomi Twin,NaN,NaN,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...,IDR 324.768
9,RedDoorz near UPI Setiabudi 2,Kamar Deluks Queen,NaN,NaN,IDR 214.031Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
10,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,NaN,NaN,IDR 284.457Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
11,RedDoorz near UPI Setiabudi 2,Suite,NaN,NaN,IDR 330.780Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924

In [ ]:
df.sort_values('Property')

,Property,Room Type,Gimmick,Harga Coret,Publish,Lowest
6,RedDoorz Syariah near Gelora Delta Sidoarjo 2,Kamar Double,Hemat 10%,IDR 189.000,IDR 170.100Detail HargaHargaMalam 1 x 1 kamarI...,IDR 170.100
1,RedDoorz near UPI Setiabudi 2,Kamar Double,Hemat 10%,IDR 218.804,IDR 196.924Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
2,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,Hemat 10%,IDR 369.116,IDR 203.014Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
3,RedDoorz near UPI Setiabudi 2,Kamar Double,Hemat 10%,IDR 230.680,IDR 207.612Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
4,RedDoorz near UPI Setiabudi 2,Suite Double,Hemat 10%,IDR 254.427,IDR 228.984Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
5,RedDoorz near UPI Setiabudi 2,Kamar Keluarga Standar Double,Hemat 10%,IDR 429.209,IDR 236.064Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
9,RedDoorz near UPI Setiabudi 2,Kamar Deluks Queen,NaN,NaN,IDR 214.031Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
10,RedDoorz near UPI Setiabudi 2,Kamar Standard Double,NaN,NaN,IDR 284.457Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
11,RedDoorz near UPI Setiabudi 2,Suite,NaN,NaN,IDR 330.780Detail HargaHargaMalam 1 x 1 kamarI...,IDR 196.924
0,Sunset Point Seminyak RedPartner,Kamar Superior Queen/Single,Penawaran Waktu Terbatas. Harga termasuk disko...,IDR 591.104,IDR 324.768Detail HargaTermasuk: Sarapan (1 pa...,IDR 324.768
7,Sunset Point Seminyak RedPartner,Kamar Standard Double,NaN,NaN,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...,IDR 324.768
8,Sunset Point Seminyak RedPartner,Kamar Ekonomi Twin,NaN,NaN,IDR 880.800Detail HargaHargaMalam 1 x 1 kamarI...,IDR 324.768

In [ ]:
url = df.sort_values('Property')

In [ ]:
url.to_csv('/content/drive/MyDrive/Colab Notebooks/Web Scraping/Fix/3_tiket_reddoorz.csv', index=True)