<a href="https://colab.research.google.com/github/rifyalt/vial/blob/master/Keywords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [ ]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns # optional aja
from google.colab import drive
drive.mount('/content/drive') # otorisasi

Mounted at /content/drive

# Load Dataset

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Digital Skola/Keyword/keywords.csv')

dataset.head()

       Date     Market  ... Impressions   Cost
0  20120524  US-Market  ...         0.0   0.00
1  20120524  US-Market  ...       260.0  25.45
2  20120524  US-Market  ...         0.0   0.00
3  20120524  US-Market  ...         0.0   0.00
4  20120524  US-Market  ...         0.0   0.00

[5 rows x 7 columns]

# Feature Engineering

In [ ]:
# cek kualitas datanya dulu
dataset.isnull().sum()

Date                0
Market              0
Keyword             0
Average.Position    0
Clicks              0
Impressions         0
Cost                0
dtype: int64

In [ ]:
# cek data duplikat
dataset.duplicated().sum()

9412

In [ ]:
dataset = dataset.drop_duplicates()

In [ ]:
# cek ulang data duplikat
dataset.duplicated().sum()

0

In [ ]:
dataset['CPI'] = dataset['Cost'] / dataset['Impressions']
dataset['CPC'] = dataset['Cost'] / dataset['Clicks']
dataset['CTR'] = dataset['Clicks'] / dataset['Impressions']
dataset.head()

       Date     Market  ...      CPC       CTR
0  20120524  US-Market  ...      NaN       NaN
1  20120524  US-Market  ...  1.19934  0.081615
2  20120524  US-Market  ...      NaN       NaN
3  20120524  US-Market  ...      NaN       NaN
4  20120524  US-Market  ...      NaN       NaN

[5 rows x 10 columns]

In [ ]:
dataset.fillna(value=0, inplace=True) # mengganti langsung kolom yg sama tanpa harus buat variabel baru

In [ ]:
dataset.head()

       Date     Market  ...      CPC       CTR
0  20120524  US-Market  ...  0.00000  0.000000
1  20120524  US-Market  ...  1.19934  0.081615
2  20120524  US-Market  ...  0.00000  0.000000
3  20120524  US-Market  ...  0.00000  0.000000
4  20120524  US-Market  ...  0.00000  0.000000

[5 rows x 10 columns]

In [ ]:
dataset.describe() # cek infinite

               Date  Average.Position  ...           CPC            CTR
count  3.466420e+05     346642.000000  ...  3.466420e+05  346642.000000
mean   2.012270e+07          0.622315  ...           inf       0.016646
std    3.585030e+03          0.644443  ...           NaN       0.020465
min    2.012052e+07          0.000000  ...  0.000000e+00       0.000000
25%    2.012090e+07          0.000000  ...  0.000000e+00       0.000000
50%    2.012102e+07          1.000000  ...  1.284135e+00       0.008233
75%    2.012122e+07          1.000000  ...  1.248261e+01       0.028483
max    2.013021e+07         12.000000  ...           inf       0.239375

[8 rows x 8 columns]

In [ ]:
# Change inf data into 0

dataset = dataset.replace([np.inf, -1, np.inf], 0)

In [ ]:
dataset.describe()

               Date  Average.Position  ...            CPC            CTR
count  3.466420e+05     346642.000000  ...  346642.000000  346642.000000
mean   2.012270e+07          0.622315  ...      13.715180       0.016646
std    3.585030e+03          0.644443  ...      34.804560       0.020465
min    2.012052e+07          0.000000  ...       0.000000       0.000000
25%    2.012090e+07          0.000000  ...       0.000000       0.000000
50%    2.012102e+07          1.000000  ...       1.210814       0.008233
75%    2.012122e+07          1.000000  ...      12.178391       0.028483
max    2.013021e+07         12.000000  ...     865.000000       0.239375

[8 rows x 8 columns]

# Advanced Label Encoder

In [ ]:
dataset.Market.unique() # Market adalah kolom dari datanya

array(['US-Market', 'UK-Market'], dtype=object)

In [ ]:
dataset.dtypes

Date                  int64
Market               object
Keyword              object
Average.Position    float64
Clicks              float64
Impressions         float64
Cost                float64
CPI                 float64
CPC                 float64
CTR                 float64
dtype: object

In [ ]:
# Market adalah agregasinya
dataset.pivot_table(index='Market', values=['Clicks', 'Impressions', 'Cost', 'CPI', 'CPC', 'CTR'],
                    aggfunc=[np.mean, np.median, np.max])

                mean                      ...       amax
                 CPC       CPI       CTR  ...     Clicks        Cost Impressions
Market                                    ...
UK-Market  12.027957  0.262945  0.016310  ...  156341.05   918862.86   9571421.0
US-Market  14.647569  0.283518  0.016832  ...  441963.50  3269107.70  15666669.0

[2 rows x 18 columns]

In [ ]:
market_data = dataset.pivot_table(index='Market', 
                                  values=['Clicks', 'Impressions', 'Cost', 'CPI', 'CPC', 'CTR'],
                                  aggfunc=[np.mean, np.median, np.max])

market_data

                mean                      ...       amax
                 CPC       CPI       CTR  ...     Clicks        Cost Impressions
Market                                    ...
UK-Market  12.027957  0.262945  0.016310  ...  156341.05   918862.86   9571421.0
US-Market  14.647569  0.283518  0.016832  ...  441963.50  3269107.70  15666669.0

[2 rows x 18 columns]

In [ ]:
mean_market = market_data['mean'].reset_index()
median_market = market_data['median'].reset_index()
max_market = market_data['amax'].reset_index()

In [ ]:
# Ganti nama kolom biar ga bingung kepemilikan kolomnya

mean_market.columns = ['Market', 'mean_market_CPC', 'mean_market_CPI', 'mean_market_CTR', 'mean_market_Clicks', 'mean_market_Cost', 'mean_market_Impressions']
median_market.columns = ['Market', 'median_market_CPC', 'median_market_CPI', 'median_market_CTR', 'median_market_Clicks', 'median_market_Cost', 'median_market_Impressions']
max_market.columns = ['Market', 'max_market_CPC', 'max_market_CPI', 'max_market_CTR', 'max_market_Clicks', 'max_market_Cost', 'max_market_Impressions']

In [ ]:
market = pd.merge(mean_market, median_market, how='inner', on='Market')
market = pd.merge(market, max_market, how='inner', on='Market')
market

      Market  mean_market_CPC  ...  max_market_Cost  max_market_Impressions
0  UK-Market        12.027957  ...        918862.86               9571421.0
1  US-Market        14.647569  ...       3269107.70              15666669.0

[2 rows x 19 columns]

In [ ]:
# del mean_market, median_market, max_market, market_data # untuk hapus data biar ga makan memori

In [ ]:
# Jadi dataframe baru

dataset = pd.merge(dataset, market, how='left', on='Market')
dataset.head()

       Date     Market  ... max_market_Cost  max_market_Impressions
0  20120524  US-Market  ...       3269107.7              15666669.0
1  20120524  US-Market  ...       3269107.7              15666669.0
2  20120524  US-Market  ...       3269107.7              15666669.0
3  20120524  US-Market  ...       3269107.7              15666669.0
4  20120524  US-Market  ...       3269107.7              15666669.0

[5 rows x 28 columns]

# Handling Text Data
Natural Language Processing (NLP)

In [ ]:
# Install Dependencies
!pip install stop-words

Collecting stop-words
  Downloading https://files.pythonhosted.org/packages/1c/cb/d58290804b7a4c5daa42abbbe2a93c477ae53e45541b1825e86f0dfaaf63/stop-words-2018.7.23.tar.gz
Building wheels for collected packages: stop-words
  Building wheel for stop-words (setup.py) ... done
  Created wheel for stop-words: filename=stop_words-2018.7.23-cp37-none-any.whl size=32917 sha256=8996f0138754e0988338bed6a383ab8d519a185b447cff30657563d4e82d8256
  Stored in directory: /root/.cache/pip/wheels/75/37/6a/2b295e03bd07290f0da95c3adb9a74ba95fbc333aa8b0c7c78
Successfully built stop-words
Installing collected packages: stop-words
Successfully installed stop-words-2018.7.23

In [ ]:
import nltk, re
from stop_words import get_stop_words
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
re.sub(r'[a-zA-Z]', "", 'mamaMsh38yd 8934bf , .. ..sd==][')

'38 8934 , .. ..==]['

In [ ]:
stop_words = get_stop_words('english')
stop_words

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 "can't",
 'cannot',
 'could',
 "couldn't",
 'did',
 "didn't",
 'do',
 'does',
 "doesn't",
 'doing',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 "hadn't",
 'has',
 "hasn't",
 'have',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 "here's",
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 "how's",
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 "let's",
 'me',
 'more',
 'most',
 "mustn't",
 'my',
 'myself',
 'no',
 'nor',
 'not',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'ought',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'same',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "shouldn't",
 'so',
 'some',
 'such',
 'than',
 'that',
 "that's",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 "there's",
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 'very',
 'was',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 "weren't",
 'what',
 "what's",
 'when',
 "when's",
 'where',
 "where's",
 'which',
 'while',
 'who',
 "who's",
 'whom',
 'why',
 "why's",
 'with',
 "won't",
 'would',
 "wouldn't",
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves']

In [ ]:
def text_to_token(dataset, column):

    def my_tokenizer(s):
        s = s.lower()
        tokens = nltk.tokenize.word_tokenize(s)
        tokens = [t for t in tokens if len(t) > 2]
        tokens = [t for t in tokens if re.findall('[\x00-\x7!@#$%^&*+=]', t)]
        tokens = [t for t in tokens if t not in stop_words]
        return tokens
    tokenized = []

    word_index_map = {}

SyntaxError: ignored