<a href="https://colab.research.google.com/github/rifyalt/vial/blob/master/Step_step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import library

import pandas as pd
import numpy as np, requests

# from google.colab import files
# uploaded = files.upload()

!pip install --upgrade gspread # untuk menghubungkan dengan google sheet
!pip install --upgrade gspread_dataframe # untuk menghubungkan dengan google sheet
---
from google.colab import auth
import gspread
import gspread_dataframe as gd
from oauth2client.client import GoogleCredentials
auth.authenticate_user()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# atau

# from google.colab import files
# uploaded = files.upload()

# with open('example.txt', 'w') as f:
#   f.write('some content')

# files.download('example.txt')

Mounted at /content/drive

In [ ]:
# df = requests.get('https://inaproc.lkpp.go.id/isb/api/d7996a0f-2f78-4c85-bf7c-367cb71ac64d/json/155431596/TenderPengumumanDetailSPSE/tipe/4:4/parameter/2021:114')
# print(df.status_code)

# atau 

path_1 = 'https://inaproc.lkpp.go.id/isb/api/d7996a0f-2f78-4c85-bf7c-367cb71ac64d/json/155431596/TenderPengumumanDetailSPSE/tipe/4:4/parameter/2021:114'
data = requests.get(path_1)

In [ ]:
data.status_code

200

In [ ]:
data = pd.read_json(path_1, encoding='latin1')

In [ ]:
data

In [ ]:
data.to_csv('/content/drive/MyDrive/Colab Notebooks/file vial.csv', index=False, sep=';')

In [ ]:
# Export to CSV
# df.to_csv('gdrive/My Drive/DigitalSkola/Dataset/sample.csv', index=False, sep=';')

# Export to Excel
# df.to_excel('filepath.xlsx', sheet_name='Sheet1', index=False)

In [ ]:
data.to_excel('/content/drive/MyDrive/Colab Notebooks/file vial.xlsx', sheet_name='file vial',index=False)

In [ ]:
df_test = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/file vial.xlsx')

In [ ]:
df_test

In [ ]:
df_test.isnull().sum()

tahun_anggaran              0
kd_klpd                     0
nama_klpd                   0
jenis_klpd                  0
kd_lpse                     0
nama_lpse                   0
kd_satker                   0
nama_satker                 0
kd_tender                   0
kd_paket                    0
kd_rup_paket                0
nama_paket                  0
pagu                        0
hps                         0
ang                         0
jenis_pengadaan             0
mtd_pemilihan               0
mtd_evaluasi                0
mtd_kualifikasi             0
kontrak_pembayaran          0
kontrak_tahun            2072
jenis_kontrak            2072
nama_status_tender          0
versi_tender                0
ket_diulang              1943
ket_ditutup              1700
tgl_buat_paket              0
tgl_kolektif_kolegial      72
tgl_pengumuman_tender      16
url_lpse                    0
kualifikasi_paket         436
lokasi_pekerjaan           20
dtype: int64

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tahun_anggaran         2072 non-null   int64
 1   kd_klpd                2072 non-null   object
 2   nama_klpd              2072 non-null   object
 3   jenis_klpd             2072 non-null   object
 4   kd_lpse                2072 non-null   int64
 5   nama_lpse              2072 non-null   object
 6   kd_satker              2072 non-null   int64
 7   nama_satker            2072 non-null   object
 8   kd_tender              2072 non-null   int64
 9   kd_paket               2072 non-null   int64
 10  kd_rup_paket           2072 non-null   object
 11  nama_paket             2072 non-null   object
 12  pagu                   2072 non-null   int64
 13  hps                    2072 non-null   float64
 14  ang                    2072 non-null   object
 15  jenis_pengadaan        2072 non-null   object
 16  mtd_pemilihan          2072 non-null   object
 17  mtd_evaluasi           2072 non-null   object
 18  mtd_kualifikasi        2072 non-null   object
 19  kontrak_pembayaran     2072 non-null   object
 20  kontrak_tahun          0 non-null      float64
 21  jenis_kontrak          0 non-null      float64
 22  nama_status_tender     2072 non-null   object
 23  versi_tender           2072 non-null   int64
 24  ket_diulang            129 non-null    object
 25  ket_ditutup            372 non-null    object
 26  tgl_buat_paket         2072 non-null   int64
 27  tgl_kolektif_kolegial  2000 non-null   float64
 28  tgl_pengumuman_tender  2056 non-null   object
 29  url_lpse               2072 non-null   object
 30  kualifikasi_paket      1636 non-null   object
 31  lokasi_pekerjaan       2052 non-null   object
dtypes: float64(4), int64(8), object(20)
memory usage: 518.1+ KB